:root {
    --indicator: #c50909;
    --primary: #ddd;
    --bgColor: #12151cad;
}

.slider {
    height: 100%;
    position: relative;
    margin-top: 5%;
    padding: 10px 0px;

    margin-block-end: 20px;
}

.nav-arrow {
    display: block;
    position: absolute;
    cursor: pointer;
    z-index: 3;
    color: var(--primary);
}

.nav-arrow.left {
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
}

.nav-arrow.right {
    top: 50%;
    right: 0%;
    transform: translate(0, -50%);
}

.nav-arrow.left svg,
.nav-arrow.right svg {
    display: block;
    margin: auto;
    font-size: 7rem;
    background-color: var(--bgColor);
}

.nav-arrow.left svg:active,
.nav-arrow.right svg:active {
    background-color: var(--red_75);
}


.slide {
    /* Add the blur effect */
    filter: blur(8px);
    -webkit-filter: blur(8px);

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

.upfrontImage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 94%;
    height: 100%;
    padding-left: 20px;
    padding-right: 20px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transition: all 300ms ease;
}


.slider-dots {
    position: absolute;
    display: flex;
    justify-content:space-around;
    align-items: center;
    bottom: 1%;
    left: 50%;
    transform: translate(-50%, -1%);
    z-index: 5;
} 

.slider-dots svg {
    font-size: 1rem;
}

.indicator {
    width: 100%;
    font-size: large;
    color: #fff;
    margin: 1.2vw;
    transform: scale(4);
}

.indicator.active {
    color: var(--indicator);
}

@media (max-width: 1396px) {
    .slider {
        margin-top: 8%;
    }
    .slide {
        height: 76vh;
    }
}

@media (max-width: 1100px) {
    .slider {
        margin-top: 11%;
    }
    .slide {
        height: 62vh;
    }
    .slider-dots {
        width: 40%;
    }
    .nav-arrow.left svg,
    .nav-arrow.right svg {
        font-size: 6rem;
    }
}


@media (max-width: 740px) {
    .slider {
        margin-top: 12%;
    }
    .slide {
        height: 45vh;
    }
    .slider-dots {
        width: 50%;
    }
    .nav-arrow.left svg,
    .nav-arrow.right svg {
        font-size: 5rem;
    }
}

@media (max-width: 640px) {
    .slider {
        margin-top: 16%;
    }
    .slide {
        height: 40vh;
    }
    .slider-dots svg {
        font-size: 1rem;
    }
}

@media (max-width: 500px) {
    .slider {
        margin-top: 18%;
    }
    .slide {
        height: 35vh;
    }
    .slider-dots svg {
        font-size: 0.75rem;
    }
}

@media (max-width: 450px) {
    .slider {
        margin-top: 20%;
    }
    .slide {
        height: 25vh;
    }
    .slider-dots svg {
        font-size: 0.6rem;
    }
    .nav-arrow.left svg,
    .nav-arrow.right svg {
        font-size: 2.3em;
    }
}