h1 {
  position: relative;
  padding: 0;
  margin: 0;
  font-family: var(--ff-oxanium);
  font-weight: 300;
  font-size: 40px;
  color: #ddd;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

h1 span {
  display: block;
  font-size: 0.5em;
  line-height: 1.3;
}
h1 em {
  font-style: normal;
  font-weight: 600;
}

.styled-heading h1 {
  font-size: var(--fs-1);
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  margin: auto;
  white-space: nowrap;
  padding-bottom: 0.8rem;
}
.styled-heading h1:before {
  background-color: var(--red);
  content: "";
  display: block;
  height: 3px;
  width: calc(2 * var(--fs-1));
  margin-bottom: 0.25px;
}
.styled-heading h1:after {
  background-color: var(--red);
  content: "";
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  height: 3px;
  width: calc(2 * var(--fs-1));
  margin-bottom: 0.25em;
}

@media (max-width: 1500px) {
    .styled-heading h1 {
        font-size: var(--fs-2);
    }
}

@media (max-width: 1100px) {
    .styled-heading h1:before,
    .styled-heading h1:after {
        width: 110px;   
    }
}

@media (max-width: 992px) {
    .styled-heading h1 {
        font-size: var(--fs-3);
    }
}

@media (max-width: 768px) {
    .styled-heading h1:before,
    .styled-heading h1:after {
        width: 90px;
        height: 0.4rem;
    }
}

@media (max-width: 576px) {
    .styled-heading h1 {
        font-size: var(--fs-4);
    }

    .styled-heading h1:before,
    .styled-heading h1:after {
        width: 55px;
        height: 0.3rem;
    }
}

@media (max-width: 400px) {
    .styled-heading h1 {
        font-size: var(--fs-5);
    }

    .styled-heading h1:before,
    .styled-heading h1:after {
        width: 45px;
        height: 0.25rem;
    }
}

