.container {
    margin: 0;
    display: flex;
    width: 100%;
    /* position: relative; */
    padding: 0 55px;
    align-items: center;
    background: #000;
}

.scroll-box {
    display: inherit;
    width: 100%;
    overflow-x: scroll;
}