.gallery-container {
    margin-block-start: 2rem;
    background-color: #0f0f0f;
    padding: 15px 0px;
    border-radius: 35px 35px 0px 0px;
    /* box-shadow: 0px 0px 10px #c50909, 0px 0px 3px #430c28 inset;
     */
    animation: changeShadow 15s infinite ease;
}

@keyframes changeShadow {
    0% {
        box-shadow: 0px -10px 10px hsl(0, 63%, 20%);
    }
    20% {
        box-shadow: 0px -10px 10px hsl(0, 73%, 33%);
    }
    40% {
        box-shadow: 0px -10px 10px hsl(0, 47%, 73%);
    }
    60% {
        box-shadow: 0px -10px 10px hsl(0, 73%, 33%);
    }
    100% {
        box-shadow: 0px -10px 10px hsl(0, 63%, 20%);
    }
}

.gallery {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-width: 33%;
    -moz-column-width: 33%;
    column-width: 33%;
    padding: 0 12px;
}

.gallery .pics {
    -webkit-transition: all 100ms ease;
    transition: all 100ms ease;
    cursor: pointer;
    margin-bottom: 12px;
}

.gallery .pics:hover {
    filter: opacity(.8);
}

@media (max-width: 991px) {
    .gallery {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}

@media (max-width: 480px) {
    .gallery {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }
}

.model {
    width: 100vw;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000de;
    transition: opacity .4s ease, visibility .4s ease, transform .5s ease-in-out;
    visibility: hidden;
    opacity: 0;
    transform: scale(0);
    overflow: hidden;
    z-index: 999;
}

.model.open {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
}

.model img {
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 100%;
    display: block;
    line-height: 0;
    box-sizing: border-box;
    padding: 20px 0 20px;
    margin: 0 auto;
}

.model.open h2 {
    position: fixed;
    bottom: 5%;
    padding: 5px;
    color: #fff;
}


.model.open .close-btn {
    color: #fff;
    background-color: var(--red);

    display: block;
    position: absolute;
    top: 4rem;
    right: 4rem;
    padding: 0.5rem;

    transform: skew(21deg);
    transition: all 300ms ease;

    cursor: pointer;
}

.model.open svg {
    display: block;
    margin: auto;
    font-size: 3rem;
    transform: skew(-21deg);
}

.model.open .close-btn:hover {
    color: var(--red);
    background-color: #ddd;
}

.gallery-container{
    margin-bottom: 100px;
}